@page "/estudiantes"
@using Biblioteca.UI.Data;
@using Biblioteca.Repositorios;

@inject ListarEstudiantesUseCase ListarEstudiantesUseCase;
@inject BajaEstudianteUseCase BajaEstudianteUseCase;

<PageTitle>Estudiantes</PageTitle>
<h1> Estudiantes </h1>


 <CuadroDialogo @ref="dialogo" />

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>NOMBRE</th>
            <th>APELLIDO</th>
            <th>NRO. CARNET</th>
            <th>FACULTAD</th>
            <th>CARRERA</th>
            <th>NRO. ALUMNO</th>
            <th>TELEFONO</th>
            <th>CORREO ELECTRONICO</th>
            <th>OPCIONES</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var est in _lista)
        {
            <tr>
                <td>@est.Id</td>
                <td>@est.nombre</td>
                <td>@est.apellido</td>
                <td>@est.numeroCarnet</td>
                <td>@est.facultad</td>
                <td>@est.carrera</td>
                <td>@est.numeroAlumno</td>
                <td>@est.telefono</td>
                <td>@est.correoElectronico</td>
                <td>
                    <button class="btn btn-primary">
                        <span class="oi oi-pencil"></span>
                    </button>
                    
                    <button class="btn btn-danger">
                        <span class="oi oi-trash" @onclick="()=>ConfirmarBorrar(est)"></span>
                    </button>

                </td>
            </tr>
        }

    </tbody>
</table>

@code{
    List<Estudiante> _lista = new List<Estudiante>();
    
    protected override void OnInitialized()
    {
        _lista = ListarEstudiantesUseCase.Ejecutar();
    }

    CuadroDialogo dialogo = null!; 
    private int idEliminar = 0;
    
    private void ConfirmarBorrar(Estudiante est)
    {
        idEliminar = est.Id ?? 0; // si est.id es nulo, devuelve 0
        dialogo.OnConfirmado = EventCallback.Factory.Create(this, () => Eliminar(idEliminar));
        dialogo.Mensaje = $"¿Desea eliminar al estuidante {est.nombre} {est.apellido} , id: {est.Id} ?";
        dialogo.Mostrar();  
    }

    private void Eliminar(int id){
        
        BajaEstudianteUseCase.Ejecutar(id);
        _lista = ListarEstudiantesUseCase.Ejecutar();
    }
    

}